{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset Password{% endblock %}
{% block content %}

    <div class="card text-center col-6" style="margin: 0 auto 0">
        <div class="card-header">
            <h2>Reset Password</h2>
        </div>
        <div class="card-body col-9" style="margin: 0 auto 0">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Set My Password</button>
            </form>
        </div>
        <div class="card-footer text-body-secondary">
        </div>
        <br>
    </div>
    <br>
    <br>
{% endblock %}
