{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Pass Change Completed{% endblock %}
{% block content %}
        <div class="card text-center col-6" style="margin: 0 auto 0">
            <div class="card-header">
                <h2>Password Recovery Completed</h2>
            </div>
            <div class="card-body">
                <h3>Your password was reset successfully!</h3>
                <h5> you can log in now</h5>
            </div>
            <div class="card-footer">
                <a href="{% url 'login' %}" class="btn btn-success">Log in</a>
                <a href="{% url 'home' %}" class="btn btn-outline-danger">Go to home</a>
            </div>
        </div>
{% endblock %}