{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Pass Change Completed{% endblock %}
{% block content %}
        <div class="card text-center col-6" style="margin: 0 auto 0">
            <div class="card-body">
                <h3>Your password was set successfully!</h3>
                <a href="{% url 'login' %}" class="btn btn-success">Log in</a>
                <a href="{% url 'home' %}" class="btn btn-danger">Go to home</a>
            </div>
        </div>
{% endblock %}